// Body
//$body-bg: #f8fafc;
$body-bg: white;

// Typography
//$font-family-sans-serif: 'Avenir', 'Nunito', sans-serif;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;
$font-weight-base: 300;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$primary: #007bff;
$info: #00b4e9;

$font-weight-semi-bold:          600 !default;
.font-weight-semi-bold  { font-weight: $font-weight-semi-bold !important; }

$g-green:    #7F8429 !default;
$g-yellow:   #f9a825 !default;
$g-dark:   #333333 !default;
$g-dark-light: #969696 !default;
$g-lime: #a9d80f !default;

$theme-colors: () !default;
$theme-colors: map-merge((
    "g-green": $g-green,
    "g-yellow": $g-yellow,
    "g-dark": $g-dark,
    "g-dark-light": $g-dark-light,
    "g-lime": $g-lime,
), $theme-colors);

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .box-formhome{
        margin-top: -42vh;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .box-formhome{
        margin-top: -33vh;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1899.98px) {
    .box-formhome{
        margin-top: -33vh;
    }
}

// Extra large devices (large desktops, 1900px and up)
@media (min-width: 1900px) {
    .box-formhome{
        margin-top: -24vh;
    }
}


$--color-text-placeholder: #858991 !default;
//$--border-color-base: #858991 !default;

